/* general */
body {
  font-family: 'Alegreya', serif;
  background-color: #E4E0E4;
  color: #270F0D;
  text-align: center;
}

h2{
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 5vw;
}

i {
  font-size: 4vw;
}

a {
  color: #835441;
}

span {
  font-style: italic;
}


ul, ol {
  list-style-position: inside;
}

/* navbar */
.navbar {
  position: absolute;
  z-index: 5;
}

.navbar-light .navbar-nav .nav-link{
  color: #E4E0E4;
  text-shadow: 1px 1px #A9795F;
}

.nav-item:first-child {
  background-color: rgba(141, 129, 126, 0.4);
  border-radius: 10px 0px 0px 10px;
}

.nav-item:last-child {
  background-color: rgba(141, 129, 126, 0.4);
  border-radius: 0px 10px 10px 0px;
}

.nav-item.middle {
  background-color: rgba(141, 129, 126, 0.4);
}

.nav-item a {
  color: #835441;
  font-style: bold;
}

/* header */
.header h1 {
  font-size: 6vw;
}

.header p {
  font-size: 2vw;
}

.container-fluid.header {
  padding: 0;
}

/* background image */
.header-background {
  padding: 0;
  position: relative;
}

.centered {
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  width: 100%
}

/* Projects */
.projects {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects h2 {
  padding-left: 100px;
}


.proj {
  margin: 10px;
}

.proj-des {
  text-align: left;
}

.proj img {
  width: 500px;
  height: auto;
  padding-bottom: 10px;
}

.proj i {
  font-size: 30px;
}

/* about me */
.about-me {
  background-color: #A9795F;
  padding: 100px 50px 100px;
}

.about-me img{
  float: left;
  border-radius: 50%;
  margin-bottom: 10%;
  height: 400px;
  padding:0;

}

.about-me h3{
  font-size: 4vw;
}

.card h4{
  padding-top:25px;
}

/* background */
.background {
  text-align: left;
  padding: 100px;
}

.background img{
  float: left;
  margin: 0 50px 50px 50px;
}

.b-desc{
  padding-top:50px;
}

/* hobbies */
.hobbies{
  background-color: #A9795F;
}
.hobbies p{
  padding: 50px;
}
.hobbies ol{
  margin:0;
}
