* {
  font-family: serif;
}
i {
  font-size: 50px;

}

.container-fluid {
  padding: 0;
}

.header {
  position: relative;
}

span {
  font-style: italic;
}

.header-background {
  padding: 0;
  position: relative;
}

.centered {
  position: absolute;
  top: 35%;
  text-align: center;
  width:100%
}
