/* general */
body{
  font-family: 'Alegreya', serif;
  background-color: #E4E0E4;
  color: #270F0D;
  text-align: center;
}
i {
  font-size: 4vw;

}

a{
  color: #835441;
}

span {
  font-style: italic;
}

ul{
  list-style-position: inside;
}

/* navbar */
.navbar{
  position: absolute;
}

/* header */

.header {
  position: relative;
}

.header h1{
  font-size: 6vw;
}

.header p{
  font-size: 2vw;
}

.container-fluid.header{
  padding: 0;
}

/* background image */
.header-background {
  padding: 0;
  position: relative;
}

.centered {
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  width:100%
}

/* Projects */
.proj-des{
  text-align: left;
}

.proj img{
  width: 500px;
  height: auto;
}
